body {
    background-color: black;
    font-family: Arial, sans-serif;
  }
  
  h3 {
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  .main-container {
    background-color: aliceblue;
    padding: 20px 25px;
    margin: 1rem 10rem;
  }
  
  .search-input {
    padding: 10px;
    width: 25%;
    margin-bottom: 20px;
    font-size: 12px;
  }

  option {
    font-size: 12px;
  }
  
  .js-favorite-button,
  .js-watchlist-button, .remove-button {
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .js-favorite-button {
    background-color: #4CAF50;
  }
  
  .js-watchlist-button, .remove-button {
    background-color: #008CBA;
  }
  
  .movie-card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .movie-card-container {
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .movie-card-container img {
    width: 100%;
    height: auto;
  }
  
  .movie-card-container h3 {
    font-size: 0.9rem;
    margin: 5px 0;
  }
  
  .movie-card-container p {
    margin: 5px 0;
  }
  
  #mood-select {
    width: 20%;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    margin-left: 55rem;
    gap: 1rem;
  }

  .nav-bar a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
  }

  .nav-bar a:hover {
    color: #008CBA;
    border-bottom: 2px solid #008CBA;
  }

  .nav-bar a:active {
    color: #008CBA;
    border-bottom: 1px solid #008bba97;
  }